<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.linkedin.com/in/paul-souvik/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://x.com/im_souvik07" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://github.com/souvikpaul07" target="_blank"><i class="fa-brands fa-github"></i></a>
        </div>

        <div class="f-info-brand"> &copy; Wander Maniac</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>