body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.navbar{
    height: 4.5rem;
    background-color: white;
}

.company-logo{
    color: rgb(25, 185, 25);
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width : 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials a{
    font-size: 1.2rem;
    margin-right: 1rem;
    text-decoration: none;
    color: #222222;
}

.f-info{
    text-align: center;
    height : 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;
}


/* cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/*New Page*/

.add-btn{
    background-color: rgb(25, 185, 25) !important;
    border: none !important;
}


/*Edit Page*/

.edit-btn{
    background-color: rgb(25, 185, 25) !important;
    border: none !important;
    color: white !important;
}


/* Show Page */
.show-image{
    height: 30vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.btns{
    display: flex;
}

.delete-btn{
    border: none !important;
}

.show-card{
    padding-left:  0;
    padding-right: 0;
}


/***** MAP *****/
#map{
    height : 250px;
    width: 70vh;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}