<%- layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <h2 class="col-6 offset-3 mb-4">Login on WanderManiac</h2> <br>

    <div class="col-6 offset-3">
        <form action="/login" method="POST" class="needs-validation" novalidate>
        <!--Username-->
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input class="form-control" id="username" type="text" name="username" required>
        </div>

        <!--Password-->
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input class="form-control" id="password" type="password" name="password" required>
        </div>

        <button class="btn add-btn mt-3 btn-success">Login</button>

    </div>
</div>